<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-destroy-method="destroy" default-init-method="init">


	<bean id="patient" class="com.example.maventest.Patient"
		scope="singleton" init-method="onCreate" destroy-method="onDestroy">
		<constructor-arg value="5"></constructor-arg>
		<constructor-arg value="Abir"></constructor-arg>
		<property name="nationalId" value="1234"></property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="address" class="com.example.maventest.Address">
		<constructor-arg name="street" value="kotbari-road"></constructor-arg>
		<constructor-arg name="postcode" value="3500"></constructor-arg>
	</bean>
</beans>
